/*
--------------------------------------------------------------------------------
Configuration sizes for margins & paddings
--------------------------------------------------------------------------------
*/
$spacing-xl: 10rem;
$spacing-l: 3rem;
$spacing-m: 2rem;
$spacing-s: 1.5rem;
$spacing-xs: 1rem;

/*
--------------------------------------------------------------------------------
Pallets
--------------------------------------------------------------------------------
*/

$white: #FFFFFF;
$black: #000000;
